body, html
{
	margin: 0px;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

.left_floor_button
{
	/*color: black;*/
	/*background-color: green;*/
	/*text-align: center;*/
	/*height: 20%;*/
	margin: 5px;
	z-index: 40;
	/*position: absolute;*/
	/*float:left;*/
	width: 100px;
	height: 20%;
	position: absolute;
	left: 0px;
	bottom: -25px;
}

ul, menu, dir {
	-webkit-padding-start: 0px;
}

.right_floor_button
{
	/*color: black;*/
	/*background-color: green;*/
	/*text-align: center;*/
	/*height: 20%;*/
	margin: 5px;
	z-index: 40;
	/*position: absolute;*/
	/*float:right;*/
	width: 100px;
	height: 20%;
	position: absolute;
	right: 0px;
	bottom: -25px;
}

#body_div
{
	font-size: 2em;
	text-align: center;
}

#shadow_div
{
	position: fixed;
	z-index: -1;
}

.show_directions_button
{
	height: 10%;
	padding: 10px;
	margin: 5%;
	background: #EEE;
	border-size: 1px;
	box-shadow: 2px 2px 5px black;
	border-radius: 15px;
}

/************************
START THREE MAIN SECTIONS
************************/

#title
{
	color: white;
	/*height: 15%;*/
	font-weight: bold;
	background: black;
}

#select_floor
{

}

#search_container
{
	margin: 0% 5% 0% 5%;
}

.selection_div
{
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	float:left\9;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
}

.selection_div input{
	background: transparent;
	width: 90%;
	height: 40px;
	padding: 15px;
	font-size: 95%;
	border-radius: 15px;
	box-shadow: 2px 2px 5px black;
}

.selection_div select {
	background: white;
	width: 90%;
	height: 70px; /*needs to be input height + input padding * 2
	/*padding: 15px;*/
	font-size: 95%;
}

/**********************
END THREE MAIN SECTIONS
**********************/

#home_button
{
	color: white;
	font-weight: bold;
	background: #9169a2;
	padding-left: 10%;
	padding-right: 10%;
	box-shadow: 5px 5px 15px black;
	border-radius: 10px;
}


/* FOR LABELING ROOMS */

#room_label_container
{
	/*display: none;*/
	color: white;
	font-weight: bold;
	font-size: .7em;
	/*position: absolute;*/
	z-index: 20;
}

.room_label_divs
{
	position: absolute;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	background: black;
	/*border-style: solid;*/
	/*border-color: yellow;*/
	padding: 5px;
	/*box-shadow: 5px 5px 15px black;*/
	border-radius: 5px;
	/* Had to change this to get room labels to show up */
	z-index: 20;
}

#room_label_form
{
	display: none;
	position: absolute;
	background-color: white;
	border-style: solid;
	padding: 10px;
	font-size: .5em;
	z-index: 20;
}