body, html
{
	height: 95%;
}

.floor_button
{
	color: black;
	background-color: green;
	text-align: center;
	height: 20%;
	margin: 5px;
}

#body_div
{
	font-size: 2em;
	text-align: center;
}

#title
{
	height: 15%;
	font-weight: bold;
}

#home_button
{
	height: 10%;
	background-color: blue;
}



/* FOR LABELING ROOMS */

#room_label_container
{
	/*display: none;*/
	color: white;
	font-weight: bold;
	font-size: .7em;
	/*position: absolute;*/
	z-index: 20;
}

.room_label_divs
{
	position: absolute;
	background: black;
	padding: 5px;
	box-shadow: 5px 5px 15px black;
	border-radius: 5px;
	/* Had to change this to get room labels to show up */
	z-index: 20;
}

#room_label_form
{
	display: none;
	position: absolute;
	background-color: white;
	border-style: solid;
	padding: 10px;
	font-size: .5em;
}